#root {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 60px;
  color: black;
  margin-top: 7%;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves-light {
  background-color: rgba(255, 255, 255, 0.45);
}

.Main {
background-color: black;
  height: 400px;
  width: 400px;
}

h1 {
  font-family: bold;
  color: white;
}

.Login {
  height: 30px;
  width: 500px;
  color: aliceblue;
}

.SignIn {
  width: 50%;
  margin: 0 auto;

}

body {
  background:url("https://images.pexels.com/photos/976994/pexels-photo-976994.jpeg?cs=srgb&dl=lake-lakeside-landscape-976994.jpg&fm=jpg")no-repeat;
  background-size:cover;


}