#root {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 60px;
  color: black;
  margin-top: 7%;
}
.Main {
    background-color: #212121 !important;
   /*От всего экрана*/
  height: 35%;
  width: 35%;
  margin: auto;
  position: absolute;
}

.Form {
    margin: auto;
    position:relative;
    width: 100%;
    height: 50%;
    background-color:blue;
}

.FiledToFill {
    margin-left: 13%;
    position:relative;
    width: 70%;
    height: 30%;
    background-color:yellow;
}

.Go {
    margin-left: 30%;
    position:relative;
    width: 40%;
    height: 30%;
    background-color:green;
}

h1 {
  font-family: bold;
  color: white;
}

.Login {
  height: 30px;
  width: 500px;
  color: aliceblue;
}

body {
  background:url("https://images.pexels.com/photos/976994/pexels-photo-976994.jpeg?cs=srgb&dl=lake-lakeside-landscape-976994.jpg&fm=jpg")no-repeat;
  background-size:cover;


}