.non-owner-message {
    overflow:hidden;
    word-wrap: break-word;
    margin:26px 0 26px;
}

.non-owner-received-message {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.non-owner-received-withd-message p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    white-space: pre-line;
}

.message-time {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.non-owner-received-withd-message { width: 57%;}

.owner-message-sent p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
    white-space: pre-line;
}

.owner-message {
    overflow:hidden;
    word-wrap: break-word;
    margin:26px 0 26px;
}
.owner-message-sent {
    float: right;
    width: 46%;
}
