.message-form {
    height: 7vh;
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.message-form-input input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}
.message-form-button {
    background-color: #9d9d8d; /* Green */
    border: medium none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    position: absolute;
    right: 10%;
}
