.Main {
    text-align: left;
    display: flex;
    flex-direction: row;
}


.Main-user-list {
    background-color: darkslategray;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: white;
    width: 20%;
}

.Main-chat {
    background-color: honeydew;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    color: black;
    width: 80%;
}
