body {
    height: 100vh;
    /*width: 100%;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: available;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-grow: 1;
    height: 50vh;
}

header {
    background: lightseagreen;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

footer {
    padding: 5px;
    background: lightseagreen;
    width: 100%;
}

main {
    overflow-y: scroll;
    /*height: 50%;*/
}

aside {
    width: 20%;
    /*height: 50%;*/
    background: lemonchiffon;
}

.logo {
    font-size: 24px;
    margin-right: 50px;
}

.main-menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.side-menu {
    width: 20rem;
    background: lightskyblue;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;*/
    align-content: flex-start;
    /*align-content: space-around;*/
}

.side-menu-elem {
    margin:  2px;
    padding: 1em 2em;
    background: aliceblue;
}

.message {
    display: flex;
    margin: 2em;
    background: aquamarine;
}

.message-username {
    align-self: center;
    padding-right: 5em;
}

.message-text {
    align-self: center;
    padding-right: 5em;
}
