body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: available;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-grow: 1;
}

header {
    background: lightseagreen;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

footer {
    padding: 5px;
    background: lightseagreen;
    width: 100vw;
}

main {
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.messages {
    overflow-y: scroll;
    width: 55vw;
    display: flex;
    flex-direction: column;
}

aside {
    width: 20vw;
    background: lemonchiffon;
}

.logo {
    font-size: 24px;
    margin-right: 50px;
}

.main-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

.side-menu {
    width: 30vw;
    /*max-width: 30vw;*/
    background: lightskyblue;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;*/
    align-content: flex-start;
    /*align-content: space-around;*/
}

.side-menu-elem {
    /*max-width: 30rem;*/
    margin:  2px;
    padding: 1em 2em;
    background: aliceblue;
}

/*BELOW side-menu-elem*/
.active {
    background: mediumaquamarine;
}

.message {
    display: flex;
    margin: 2em;
    background: aquamarine;
}

.message-username {
    width: 10vw;
    align-self: center;
    /*padding-right: 2rem;*/
}

.message-text {
    align-self: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}
