#main-body {
    margin-top: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.button-back {
    margin: auto;
    padding: 10px;
    width: 300px;
    background-color: #20051c;
    color: white;
}

.info-field {
    text-align: left;
    /*position: absolute;*/
    /*margin-left: 2px;*/
    margin: 5px;
    /*padding: 10px;*/
    height: 30px;
    color: white;
    /*float: right;*/
    clear: left;
    /*float: left;*/
}

.title {
    font-weight: bold;
}

.button-back:hover {
    cursor: pointer;
    background-color: #ff2e00;
}