.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.author {
  color: lightblue;
}
.text{
  color:#f0f0f0
} 
.formtxt{
  color: #f0f0f0;
}
.Messager {
  margin-left: 1%;
}

.App-link {
  color: #61dafb;
}
.inputMsg {
  width: 90%;
  border: none;
  border-width: 0;
  background-color: #303030;
  color:lightgreen;
  size:20%;
  height: 100%;
  font-size: 100%;
  padding: 10px;
}
.inputMsg:focus {
  outline: none
}
.Field {
  position: fixed;
  left: 10%;
  margin-top: 2px;
}
.MsgForm {
  margin-bottom: 10px;
  position: fixed; 
    left: 1%;
    top:93%;
    bottom:100%;
    width: 100%;
    height:100%;
}
.Button {
  size: 20px;
}
.inputBtn {
  border:none;
  color: lightgreen;
  background: none;
  height: 100%;
  font-size: 100%;
}
.MsgList {
  margin-bottom: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
