.headind-srch {
    height: 7vh;
    padding:2vh 29px 10px 20px; 
    overflow:hidden; 
    border-bottom:1px solid #c4c4c4;
}

.srch-bar {
    display: inline-block;
    text-align: left;
    width: 100%; 
    padding: 2px 0 4px 6px;
  }

.srch-bar input { 
    border:1px solid #cdcdcd; 
    border-width:0 0 1px 0; 
    width:80%; 
    padding:2px 0 4px 6px; 
    background:none;
}
