$header-height: 50px;
$left-sidebar-width: 20%;
$right-sidebar-width: 20%;
$border-color: rgba(0, 0, 0, 0.1);
$primary-color: #76b852;
$danger-color: #e74c3c;
$body-color: #2c3e50;
$messenger-input-height: 80px;
